In [1]:
import pandas as pd
import numpy as np
from asm import AutoStringMapper

In [2]:
df1 = pd.DataFrame({"column1": ["BMW", "MERCEDES", "VW", "OPEL", "OPER", "OPE"]})

In [3]:
AutoStringMapper(df1["column1"], [
            "MERCEDES Benz Gmbh",
            "Volkswagen",
            "Opel Rüsselsheim",
            "Bayrische Motorenwerke",
            "OPER",
        ]).get_mapping(similarity_threshold=0.3)

{'BMW': nan,
 'MERCEDES': 'MERCEDES Benz Gmbh',
 'VW': nan,
 'OPEL': 'OPER',
 'OPER': 'OPER',
 'OPE': 'OPER'}

In [4]:
mat = AutoStringMapper(df1["column1"], [
            "MERCEDES Benz Gmbh",
            "Volkswagen",
            "Opel Rüsselsheim",
            "Bayrische Motorenwerke",
            "OPER",
        ]).similarity_matrix

In [5]:
mat

,BMW,MERCEDES,VW,OPEL,OPER,OPE
MERCEDES Benz Gmbh,0.055556,0.444444,0.000000,0.055556,0.055556,0.055556
Volkswagen,0.100000,0.100000,0.200000,0.100000,0.100000,0.100000
Opel Rüsselsheim,0.000000,0.250000,0.000000,0.250000,0.250000,0.187500
Bayrische Motorenwerke,0.136364,0.181818,0.045455,0.045455,0.090909,0.045455
OPER,0.000000,0.125000,0.000000,0.750000,1.000000,0.750000